.search-character-container{
    margin: 2vw 2vh;
    .search-container{
        .search-bar{

            font-size: 1.5em;
            padding-left: 15px;
            margin: 1%;
        }

        .search-button{
            background-color: #856534;
            color: whitesmoke;
            font-size: 1.5em;
            margin : 1%;
        }
        .clear-button{

            background-color: #856534;
            color: whitesmoke;
            font-size: 1.5em;
            margin : 1%;
        }
    }

    .searched-characters-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

}