.nation-selector-container{

    margin-top : 5vh;

.nation-container{

 

.element {

    :hover {
        transform: scale(1.1);
    }
}

}

.nation-selector-text {
    font-family: 'Amatic SC', cursive;
    margin: auto;
    color: white;
    font-size: 2.5em;
    margin: 2vw 2vh;
}
}